body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #40514E;
}

hr {
  width: 6%;
  border-style: dotted none none;
  border-width: 8px;
  border-color: #EAF6F6;
}

a {
  color: #79a3b1;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  font-size: 70px;
  color: #456268;
  margin: 20px auto 0 auto;
  font-family: 'Parisienne', cursive;
}

h2 {
  color: #79a3b1;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #79a3b1;
}

.top-container {
  background-color: #fcf8ec;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  padding-top: 30px;
}
.profile {
  width: 50%;
  margin: 0 auto;
}

.bottom-coffeebean {
  height: 80px;
  position: absolute;
  left: 450px;
  bottom: 180px;
}

.top-coffeebean {
  height: 80px;
  position: relative;
  left: 200px;
  top: 20px;
}
.coffeemachine {
  position: absolute;
}

.profile {
  padding: 50px 0 30px 0;
}

.skills {
  padding: 30px 0 30px 0;
}

.contact-me {
  padding: 30px 0 30px 0;
}

.kayimg {
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
  line-height: 200%;
  padding-top: 20px;
}

.latteart {
  height: 150px;
  float: left;
  margin-right: 30px;
}

.cookie {
  height: 150px;
  float: right;
  margin-right: 30px;
}

.btn {
  background-color: #456268;
  padding: 10px;
  border-radius: 15%;
}

.bottom-container {
  background-color: #d0e8f2;
  height: 80px;
  padding: 30px;
  color: white;
}
